.img-fluid{
    height: 400px;
    width: 400px;
}
.HTS{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.cards{
    margin-bottom: 40px;
}
.PTPH{
    margin-top: 20px;
}
